<h2><%= l :jid_setup %></h2>

<div id="settings">
  <div class="box tabular">
      <%= labelled_form_for :user, User.current, :url => {:controller => 'jabber_notifications', :action => 'update_jid' },
                         :method => :post, :lang => current_language,
                         :html => {:class => 'tabular'} do |f| %>

         <p><%= f.text_field :jid %></p>
         <p><%= f.submit l(:save) %></p>
       <% end %>
  </div>
</div>
