<p>
  <label><%= l 'bot_jid' %></label><%= text_field_tag 'settings[bot_jid]', @settings['bot_jid'], :size => 15 %>
</p>

<p>
  <label><%= l 'bot_password' %></label><%= password_field_tag 'settings[bot_password]', @settings['bot_password'], :size => 15 %>
</p>
